


h1 {
    color: plum
}
img{
   width: 400px;     
}
#thirdDiv {
    width: 500px;
    height: 600px;
    background-color: rgb(131, 191, 247);

}
#spanId {
    margin: 50px;
    font-size: 18px;
   
}
.divClass {
    padding: 50px;
    border: 7px solid skyblue;
}
